/* Estilos para la sección de personalización */
.customization-section {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #f7e9dd;
  /* Fondo claro */
  text-align: center;
  font-family: var(--fuente-Quick);
  color: var(--color-Marron);
}

.customization-title {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
}

.customization-description {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.customization-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.form-label {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-input,
.form-textarea,
.form-input-file {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;

}

.form-textarea {
  height: 100px;
  resize: none;
}

.form-input-file {
  border: none;
  background-color: #fff;
}

.form-button {
  margin-top: 20px;
  background-color: var(--color-MarronClaro);
  color: var(--color-Marron);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #e58919;
}