/* Estilos del header */
.header {
    width: 85%;
    left: 2.5%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    /* background-color: var(--color-MarronClaro); */
    box-shadow: 0px 2px 4px rgba(107, 61, 61, 0.63);
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: var(--fuente-Quick);
    background-color:#5e3023b0;
    /* Fondo transparente con opacidad */
    backdrop-filter: blur(10px); 
    /* Efecto de desenfoque */
    /* -webkit-backdrop-filter: blur(10px); */
    /* Soporte para Safari */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.logo-img {
    height: 70px;
    /* Ajusta el tamaño del logo */
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    /* Espacio entre opciones */
    margin: 0;
    padding: 0;
}


.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    /* Blanco para contraste */
    transition: color 0.3s ease;
}


@media (min-width:1024px) {
   .header{
    width: 60%;
    left: 20%;
   }

    
}