.banner {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
        url(/public/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: 15% 95%;
    height: 100vh;
    color: var(--color-Blanco);
    font-family: var(--fuente-Quick);
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.banner img{
    width: 50%;
}

.banner h1{
    font-size: 4em;
}

.banner h3{
    margin: 0;
}

.banner p{
    margin-top:30px;
}

.banner-button{
    padding: 10px;
    margin-top: 10px;
    margin: auto 0;
    background-color: var(--color-MarronClaro);
    border: none;
    border-radius: 20px;
    color: var(--color-Marron);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
}

@media (min-width:768px) {
    .banner{
        flex-direction: row;
        gap: 5%;
        background-position: 10% 45%;
        padding-top: 40px;  
    }
    .banner img{
        width: 30%;
    }
    
}